html {
  font-size: 72.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.nav--container {
  background: #F55A5A;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 2rem 0 2rem 0;
  justify-content: center;
  color: #FFFFFF;
}

.nav--logo {
  height: 2rem;
  padding-right: 1rem;
}

.nav--title {
  font-weight: 400;
}

.entry--container {
  display: flex;
  flex-direction: row;
  padding: 4rem 4rem 4rem 4rem;
}

.entry--border{
  margin: 0 4rem 0 4rem;
  border-bottom: 1px solid #918E9B;
  
}

.entry--image {
  width: 40%;
  margin-right: 4rem;
  border-radius: 1rem;
}

.entry--location-details {
  display: flex;
  width: 100%;
  font-size: 1rem;
  align-items: baseline;
  padding-bottom: 1rem;
}

.entry--pin-drop {
  height: 1rem;
}

.entry--country {
  padding: 0 1rem 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.entry--maps-link {
  color: #918E9B;
}

.entry--location-visited {
  padding-bottom: 1rem;
}

.entry--date-visited {
  font-weight: 700;
  padding-bottom: 1rem;
}